body {
background-color: rgb(250, 247, 234);
}

.form-step {
    display: none;
}
.current-step {
    display: block;
}

.logo {
    width: 18%;
}

h2 {
    color: rgb(2, 3, 164);
    text-decoration: underline;
}

h3 {
    font-size: 2vw;
    width: 45%;
    margin: 20px auto 7% auto;
    background-color: rgb(2, 3, 164);
    border: 2px solid rgb(2, 3, 164);
    border-radius: 30px 30px;
    color: rgb(250, 247, 234);
    text-align: center;
}

label{
    margin-top: 20px;
    color: rgb(2, 3, 164);
}

input, textarea, select {
    border: 2px solid rgb(2, 3, 164);
    align-items: center;
    margin-top: 8px;
    height: 20px;
    border-radius: 30px 30px;
}

textarea {
    width: 416px; 
    height: 103px;
    border-radius: 12px 12px;
}

.form {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.description {
    display: flex;
    flex-direction: column;
}

button {
    font-size: 20px;
    height: 43px;
    margin: 20px auto auto auto;
    color: rgb(2, 3, 164);
    background-color: rgb(250, 247, 234);
    border: 2px solid rgb(2, 3, 164);
    border-radius: 30px 30px;
}

button:hover {
    background-color: rgb(2, 3, 164);
    color: rgb(250, 247, 234);
}

.button {
    display: flex;
    justify-content: space-around;
}